# This file should contain no real credentials.
#
# Copy this to .env and add real credentials to run tests.

# Driver: native
OPENAI_API_KEY=<YOUR_OPENAI_API_KEY>
ANTHROPIC_API_KEY=<YOUR_ANTHROPIC_API_KEY>
GEMINI_API_KEY=<YOUR_GEMINI_API_KEY>

# Driver: vertex
GCP_LOCATION=<YOUR_GCP_LOCATION>
GCP_PROJECT=<YOUR_GCP_PROJECT>
GOOGLE_APPLICATION_CREDENTIALS=<PATH_TO_YOUR_GOOGLE_APPLICATION_CREDENTIALS_JSON>

# Drivers: bedrock (chat) & textract (ocr)
AWS_DEFAULT_REGION=<YOUR_AWS_DEFAULT_REGION>
AWS_ACCESS_KEY_ID=<YOUR_AWS_ACCESS_KEY_ID>
AWS_SECRET_ACCESS_KEY=<YOUR_AWS_SECRET_ACCESS_KEY>
S3_TEST_FIXTURE_LOCATION=<s3://YOUR_S3_TEST_FIXTURE_BUCKET>
