/target
/.venv
/.env
/.env.*
/node_modules
# Templates showing how to specify your own credentials.
!/.env.template
!/.env.litellm-proxy.template
# These contain fake credentials only.
!/.env.litellm
!/.env.ollama
.DS_Store
__pycache__
